In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import random

%config InlineBackend.figure_format = 'retina' #set 'png' here when working on notebook
%matplotlib inline
pd.set_option('display.max_columns', None)

df = pd.read_csv('Data/COVID_ITA.csv')

In [2]:
df.drop(columns = 'Unnamed: 0', inplace = True)

In [3]:
df.describe(include = 'all')

,ID,Date,Cases,Cases_New,Type,Age,Sex,Source
count,8086,8086,7.334000e+03,7334.000000,8086,8086,8086,8086
unique,1,338,NaN,NaN,16,1,1,3
top,IT,2020-05-19,NaN,NaN,Deaths,Total,Total,DPC
freq,8086,26,NaN,NaN,952,8086,8086,4880
mean,NaN,NaN,1.033509e+06,10736.456095,NaN,NaN,NaN,NaN
std,NaN,NaN,2.871070e+06,41189.454483,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000e+00,-988470.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,1.330300e+04,14.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,6.257600e+04,522.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,3.062350e+05,4619.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,2.575236e+07,935310.000000,NaN,NaN,NaN,NaN

In [4]:
df.drop(columns = ['ID','Age','Sex'], inplace = True)

In [31]:
contagio = df[(df['Date'] >= '2020-08-20') & (df['Date'] <= '2020-11-01')]

In [39]:
contagio = df[(df['Date'] >= '2020-02-20') & (df['Date'] <= '2020-11-01')]

In [40]:
contagio

            Date       Cases  Cases_New       Type Source
116   2020-02-20         3.0        0.0     Active    JHU
117   2020-02-20         3.0        3.0     Active    JRC
118   2020-02-20         3.0        0.0  Confirmed    JHU
119   2020-02-20         3.0        3.0  Confirmed    JRC
120   2020-02-20         0.0        0.0     Deaths    JHU
...          ...         ...        ...        ...    ...
6703  2020-11-01    292380.0     2954.0  Recovered    DPC
6704  2020-11-01    292380.0     2954.0  Recovered    JHU
6705  2020-11-01    292380.0     2954.0  Recovered    JRC
6706  2020-11-01   9695940.0   117478.0     Tested    DPC
6707  2020-11-01  15967918.0   183457.0      Tests    DPC

[6592 rows x 5 columns]

In [41]:
contagio.describe(include = 'all')

              Date         Cases      Cases_New    Type Source
count         6592  5.913000e+03    5913.000000    6592   6592
unique         256           NaN            NaN      16      3
top     2020-05-19           NaN            NaN  Deaths    DPC
freq            26           NaN            NaN     764   4032
mean           NaN  6.943650e+05    7951.804160     NaN    NaN
std            NaN  1.882434e+06   25979.061413     NaN    NaN
min            NaN  0.000000e+00  -32826.000000     NaN    NaN
25%            NaN  1.240400e+04      16.000000     NaN    NaN
50%            NaN  4.321200e+04     373.000000     NaN    NaN
75%            NaN  2.388330e+05    2313.000000     NaN    NaN
max            NaN  1.596792e+07  935310.000000     NaN    NaN

In [42]:
contagio['Type'].unique()

array(['Active', 'Confirmed', 'Deaths', 'Hospitalized', 'ICU',
       'Recovered', 'Home_Confinement', 'Hospitalized_Sym', 'ICU_Now',
       'Negative', 'Pending', 'Positive', 'Positive_Dx', 'Positive_Sc',
       'Tested', 'Tests'], dtype=object)

In [43]:
contagio[contagio['Type']=='Active']

            Date     Cases  Cases_New    Type Source
116   2020-02-20       3.0        0.0  Active    JHU
117   2020-02-20       3.0        3.0  Active    JRC
126   2020-02-21      19.0       16.0  Active    JHU
127   2020-02-21      22.0       19.0  Active    JRC
136   2020-02-22      59.0       40.0  Active    JHU
...          ...       ...        ...     ...    ...
6657  2020-10-31  351386.0    25600.0  Active    JHU
6658  2020-10-31  351386.0    25600.0  Active    JRC
6682  2020-11-01  378129.0    26743.0  Active    DPC
6683  2020-11-01  378129.0    26743.0  Active    JHU
6684  2020-11-01  378129.0    26743.0  Active    JRC

[764 rows x 5 columns]

In [55]:
contagio[contagio['Type']=='Deaths'][50:100]

            Date    Cases  Cases_New    Type Source
1462  2020-04-14  21067.0      602.0  Deaths    DPC
1488  2020-04-15  21645.0      578.0  Deaths    DPC
1514  2020-04-16  22170.0      525.0  Deaths    DPC
1540  2020-04-17  22745.0      575.0  Deaths    DPC
1566  2020-04-18  23227.0      482.0  Deaths    DPC
1592  2020-04-19  23660.0      433.0  Deaths    DPC
1618  2020-04-20  24114.0      454.0  Deaths    DPC
1644  2020-04-21  24648.0      534.0  Deaths    DPC
1670  2020-04-22  25085.0      437.0  Deaths    DPC
1696  2020-04-23  25549.0      464.0  Deaths    DPC
1722  2020-04-24  25969.0      420.0  Deaths    DPC
1748  2020-04-25  26384.0      415.0  Deaths    DPC
1774  2020-04-26  26644.0      260.0  Deaths    DPC
1800  2020-04-27  26977.0      333.0  Deaths    DPC
1826  2020-04-28  27359.0      382.0  Deaths    DPC
1852  2020-04-29  27682.0      323.0  Deaths    DPC
1878  2020-04-30  27967.0      285.0  Deaths    DPC
1904  2020-05-01  28236.0      269.0  Deaths    DPC
1930  2020-05-02  28710.0      474.0  Deaths    DPC
1956  2020-05-03  28884.0      174.0  Deaths    DPC
1982  2020-05-04  29079.0      195.0  Deaths    DPC
2008  2020-05-05  29315.0      236.0  Deaths    DPC
2034  2020-05-06  29684.0      369.0  Deaths    DPC
2060  2020-05-07  29958.0      274.0  Deaths    DPC
2086  2020-05-08  30201.0      243.0  Deaths    DPC
2112  2020-05-09  30395.0      194.0  Deaths    DPC
2138  2020-05-10  30560.0      165.0  Deaths    DPC
2164  2020-05-11  30739.0      179.0  Deaths    DPC
2190  2020-05-12  30911.0      172.0  Deaths    DPC
2216  2020-05-13  31106.0      195.0  Deaths    DPC
2242  2020-05-14  31368.0      262.0  Deaths    DPC
2268  2020-05-15  31610.0      242.0  Deaths    DPC
2294  2020-05-16  31763.0      153.0  Deaths    DPC
2320  2020-05-17  31908.0      145.0  Deaths    DPC
2346  2020-05-18  32007.0       99.0  Deaths    DPC
2372  2020-05-19  32169.0      162.0  Deaths    DPC
2398  2020-05-20  32330.0      161.0  Deaths    DPC
2424  2020-05-21  32486.0      156.0  Deaths    DPC
2450  2020-05-22  32616.0      130.0  Deaths    DPC
2476  2020-05-23  32735.0      119.0  Deaths    DPC
2502  2020-05-24  32785.0       50.0  Deaths    DPC
2528  2020-05-25  32877.0       92.0  Deaths    DPC
2554  2020-05-26  32955.0       78.0  Deaths    DPC
2580  2020-05-27  33072.0      117.0  Deaths    DPC
2606  2020-05-28  33142.0       70.0  Deaths    DPC
2632  2020-05-29  33229.0       87.0  Deaths    DPC
2658  2020-05-30  33340.0      111.0  Deaths    DPC
2684  2020-05-31  33415.0       75.0  Deaths    DPC
2710  2020-06-01  33475.0       60.0  Deaths    DPC
2736  2020-06-02  33530.0       55.0  Deaths    DPC

In [56]:
#preprocessing per semplice sird

contagio = contagio[contagio['Source']=='DPC']
    
#interessante costruire modello con tested (ICU, Hospitalized per SIDARTHE)    

dates = []
infected = []
dead = []
recovered = []

for i in contagio.Date.unique():
    dates.append(contagio[(contagio['Date'] == i) & (contagio['Type'] == 'Active')].Date.item())
    infected.append(contagio[(contagio['Date'] == i) & (contagio['Type'] == 'Active')].Cases.item())
    dead.append(contagio[(contagio['Date'] == i) & (contagio['Type'] == 'Deaths')].Cases.item())
    recovered.append(contagio[(contagio['Date'] == i) & (contagio['Type'] == 'Recovered')].Cases.item())

In [57]:
sird = pd.DataFrame(list(zip(dates, infected, dead, recovered)), columns = ['Date','Infected','Dead','Recovered'])

In [58]:
sird.to_csv('Data/Sird_bigdata.csv', index = False)

In [67]:
#sird.to_csv('Data/Sird.csv', index = False)